@font-face {
    font-family: 'MyScars';
    src: url('/fonts/MYSCARS.woff') format('woff'),
         url('/fonts/MYSCARS.ttf') format('truetype');
}

html {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: rgb(255, 204, 151);
    color: #333;
}

body {
    margin: 0;
    background-color: transparent;
}

header {
    margin-top: 20px;

    font-family: 'MyScars', Fallback Arial;
    font-size: 42px;

    color: #333;
}

header > sub {
    font-size: 16px;
}

button {
    font-family: 'MyScars', Fallback Arial;
    border-radius: 8px;
    background-color: transparent;
    border: solid black 2px;
}

article {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

article > div {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;

    border: solid 0.25px #333;
}

footer > nav {
    margin: 20px;
}

footer {
    margin-top: 20px;
}

a {
    text-decoration: none;
}

a {
    color: rgb(255, 132, 5);
}

a:visited {
    color: rgb(255, 48, 5);
}

p > img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

#map {
    height: 600px;
    width: 100%;
    margin-top: 20px;
}
