<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-38933930-6"></script>
    <script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-38933930-6');
    </script>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Dirtbag</title>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="/css/dd.css"/>
</head>
<body class="container-fluid">
<header class="row">
	<center><a href="/"><img src="/images/dd.svg" height="140"/></a></center>
	<center>Digital Dirtbag</center>
	<sub><center>Nomadic work and life, one trail at a time...</center></sub>
	<sub><center style="margin-top:12px"><a href="https://www.instagram.com/digitaldirtb.ag/"><img src="/images/ig.png" height="16"/></a></center></sub>
</header>

<main>
{% block content %}{% endblock %}
</main>

<footer>

    {% block footer %}
    {% endblock %}

    <center>© Kirk Roerig 2017</center>

</footer>


</body>
</html>
