<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Dirtbag</title>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="/css/dd.css"/>
</head>
<body class="container-fluid">
<header class="row">
    <center><img src="/images/dd.svg" height="140"/></center>
    <center>Digital Dirtbag</center>
    <sub><center>Nomadic work and life, one trail at a time...</center></sub>
</header>

<main>
{% for post in posts.markups(range(start, end)) %}
<article>
    <div></div>
    {{ post }}
</article>
{% endfor %}
</main>

<footer>
<center>
    <nav>
    {% if start-6 >= 0 %}
    <a href="/posts/{{ start-6 }}/{{ start-1 }}">< Newer</a>
    {% endif %}

    {% if posts.count() > end+1 %}
    <a href="/posts/{{ end+1 }}/{{ end+6 }}">Older ></a>
    {% endif %}
    </nav>

    © Kirk Roerig 2017
</center>
</footer>


</body>
</html>