{% extends "main.html" %}
{% block content %}
   <p>
   <center>Click a start and an end point.</center>
   <center><button onclick="clearMarkers()">Clear Markers</button></center>
   </p>
   <div id="map"></div>
   <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
   <script src="/js/map.js"></script>
   <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgfj9EogHuoMx1IaNoxCNNoX7kqepz-tg&callback=initMap"></script>
{% endblock %}
